<?xml version="1.0" encoding="utf-8"?>
<manifest package="ar.fiuba.tdp2grupo6.ordertracker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="ar.fiuba.tdp2grupo6.ordertracker.view.app.OrderTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ClienteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CatalogoActivity"
            android:label="@string/title_activity_catalogo"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.datain.DataInAlarmReceiver" />
        <receiver android:name=".service.dataout.DataOutAlarmReceiver" />

        <service android:name=".service.datain.DataInService" />
        <service android:name=".service.dataout.DataOutService" />


    </application>

</manifest>
